@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans kr', 'Jetbrains Mono NL', sans-serif;
}

:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-grey);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Size */
  --size-layout-body: 1300px;
}

h1,
h2,
h3,
h4,
h5,
h6 p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
ol {
  list-style: none;
  padding: 0;
}
button {
  background-color: transparent;
  outline: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: black;
}
