.layout__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 2px solid red;
  height: 100px;
}

.layout__max__container {
  max-width: var(--size-max-width);
  margin: auto;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo__image {
  margin-top: 5px;
}

.header__menu {
  display: flex;
  list-style: none;
}

.header__menu__item {
  font-size: 1.5rem;
  padding: 8px 16px 8px 16px;
}

.layout__body {
  border: 2px solid red;
  width: var(--size-layout-body);
  margin: auto;
}

.layout__footer {
  border: 2px solid chartreuse;
  padding: 2rem;
  text-align: center;
  color: var(--color-black);
}

.footer__contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.footer__contact__link {
  transition: color 100ms ease-in;
}

.footer__contact__link:hover {
  color: skyblue;
}
