.header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 100ms ease;
  padding: 1rem;
}
.header__dark {
  background-color: var(--color-primary);
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__logo__title {
  font-size: 1.8rem;
}
.header__menu {
  display: flex;
  gap: 4px;
}
.header__menu__item {
  display: block;
  padding: 8px 12px 8px 12px;
  border-bottom: 1px solid transparent;
  font-size: 1.3rem;
}
.header__menu__item:hover,
.header__menu__item.active {
  border-bottom: 5px solid black;
}

.header__toggle {
  display: none;
}
